-# new.html.haml using partial

%h1 User Info

= form_tag users_path do

  = label :user, :user_name, 'User Name'
  = text_field :user, :user_name
  
  = label :user, :firstname, 'First Name'
  = text_field :user, :firstname

  = label :user, :lastname, 'Last Name'
  = text_field :user, :lastname
  
  = label :user, :address, 'Address'
  = text_field :user, :address
  
  = label :user, :phone, 'Phone Number'
  = text_field :user, :phone

  = submit_tag 'Create User'