-# in app/views/checkout/index.html.haml

%h2 Checkout #{@item.title}

= form_tag checkouts_path do
    = hidden_field :checkout, :item_id, :value => @item.id
    = hidden_field :checkout, :user_id, :value => session[:user]["id"]
    %table#checkout
        %thead
            %tr
                %th
                %th Monday
                %th Tuesday
                %th Wednesday
                %th Thursday
                %th Friday
                %th Saturday
                %th Sunday
        %tbody
            %tr
                %td Morning
                %td= check_box_tag :mm
                %td= check_box_tag :tm
                %td= check_box_tag :wm
                %td= check_box_tag :rm
                %td= check_box_tag :fm
                %td= check_box_tag :sm
                %td= check_box_tag :um
            %tr
                %td Afternoon
                %td= check_box_tag :ma
                %td= check_box_tag :ta
                %td= check_box_tag :wa
                %td= check_box_tag :ra
                %td= check_box_tag :fa
                %td= check_box_tag :sa
                %td= check_box_tag :ua
            %tr
                %td Evening
                %td= check_box_tag :me
                %td= check_box_tag :te
                %td= check_box_tag :we
                %td= check_box_tag :re
                %td= check_box_tag :fe
                %td= check_box_tag :se
                %td= check_box_tag :ue
  
    = submit_tag 'Checkout'
    = button_to 'Back', item_path(@item)