-# in app/views/checkout/index.html.haml

%h2 Checkout #{@item.title}

= form_tag checkouts_path do
    = hidden_field :checkout, :item_id, :value => @item.id
    = hidden_field :checkout, :user_id, :value => session[:user]["id"]
    %table#checkout
        %thead
            %tr
                %th
                %th Monday
                %th Tuesday
                %th Wednesday
                %th Thursday
                %th Friday
                %th Saturday
                %th Sunday
        %tbody
            %tr
                %td Morning
                - @days.each do |prefix|
                    %td
                        - if (@taken[prefix + "m"] == 1)
                            X
                        - else
                            = check_box_tag (prefix + "m")
            %tr
                %td Afternoon
                - @days.each do |prefix|
                    %td
                        - if (@taken[prefix + "a"] == 1)
                            X
                        - else
                            = check_box_tag (prefix + "a")
            %tr
                %td Evening
                - @days.each do |prefix|
                    %td
                        - if (@taken[prefix + "e"] == 1)
                            X
                        - else
                            = check_box_tag (prefix + "e")
  
    = submit_tag 'Checkout'
    = button_to 'Back', item_path(@item)