-# in app/views/items/index.html.haml

%h3
  = link_to 'Create Listing', new_item_path
    
%h2 Available Items

- @items.each do |item|
  %div.listing
    %div.l_left
      %div= link_to "#{item.title}", item_path(item)
      %div= item.description
    %div.l_right
      %div= item.condition
      %div= item.status