-# in app/views/users/show.html.haml

%h2 Details about #{@user.firstname}

%h4 #{@user.lastname}, #{@user.firstname}

%p
    = @user.user_name
    %br
    = @user.address
    %br
    = @user.phone

= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to user list', users_path