-# in app/views/users/show.html.haml

%h2 #{@item.title} - #{@item.price}
%div.ind_item
    %div.ind_main
        %p= @item.description
    %div.ind_info
        %div.ind_info_top
            %div
                %div Condition:
                %div.right= @item.condition
            %div
                %div Status:
                %div.right= @item.status
            %div
                %div Location:
                %div.right= @item.location
        %div.ind_info_bot
            %span Tags
            %br
            %div.tags

- if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
    = link_to 'Edit', edit_item_path(@item)
    
= link_to 'Back to listings', items_path

- @comments.each do |comment|
    %p= comment.comment

= form_tag submit_comment_path(@comment), :method => :put do

    = hidden_field :comment, :item_id, :value => @item.id

    = label :comment, :comment, 'Add Comment'
    = text_field :comment, :comment
  
    = submit_tag 'Submit'