-# in app/views/users/show.html.haml

%div.ind_header
    %h2 #{@item.title} - $#{@item.price}
    %h4= link_to 'Back to listings', items_path

%table.ind_item
    %tr
        %td.ind_main
            %span= @item.description
        %td.ind_info
            %table
                %tr
                    %td Condition:
                    %td.right= @item.condition
                %tr
                    %td Status:
                    %td.right= @item.status
                %tr
                    %td Location:
                    %td.right= @item.location
    %tr
        %td{ :colspan => "2" }
            %span Tags
            %br
            %div.tags
                - @tags.each do |tag|
                    %div.tag
                        %span= tag.tag
                        - if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
                            = button_to 'X', tag_path(tag), :method => :delete
                %br
                - if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
                    = form_tag submit_tag_path(@tag), :method => :put do
                        = hidden_field :tag, :item_id, :value => @item.id
                        = text_field :tag, :tag
                        = submit_tag '+'
    %tr
        %td{ :colspan => "2" }
            = link_to 'Checkout', new_checkout_path(@item)

- if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
    = link_to 'Edit', edit_item_path(@item)

%br
%h3 Comments

- @comments.each do |comment|
    %div.item_comment= comment.comment

- if (session[:user] != nil)
    = form_tag submit_comment_path(@comment), :method => :put do

        = hidden_field :comment, :item_id, :value => @item.id

        = label :comment, :comment, 'Add Comment'
        = text_field :comment, :comment, style: "width:100%"
  
        = submit_tag 'Submit'