-# in app/views/users/show.html.haml

%h2 #{@item.title} - #{@item.price}
%table
    %tr
        %td
            %p= @item.description
        %td
            %table
                %tr
                    %td
                        %div Condition:
                        %div.right= @item.condition
                    %td
                        %div Status:
                        %div.right= @item.status
                    %td
                        %div Location:
                        %div.right= @item.location
                %tr
                    %td
                        %span Tags
                        %br
                        %div.tags

- if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
    = link_to 'Edit', edit_item_path(@item)
    
= link_to 'Back to listings', items_path

- @comments.each do |comment|
    %p= comment.comment

= form_tag submit_comment_path(@comment), :method => :put do

    = hidden_field :comment, :item_id, :value => @item.id

    = label :comment, :comment, 'Add Comment'
    = text_field :comment, :comment
  
    = submit_tag 'Submit'