-# in app/views/users/show.html.haml

%h2 Details about #{@item.title}

%h3 #{@item.title} - #{@item.price}
%p
    = @item.description
    %br
    %br
    = @item.condition
    %br
    = @item.status
    %br
    = @item.location

- if (session[:user] != nil && @item.user != nil)
    = link_to 'Edit', edit_item_path(@item)
    
= link_to 'Back to listings', items_path