-# in app/views/users/show.html.haml

%div.ind_header
    %h2 #{@item.title} - $#{@item.price}
    %h5= link_to 'Back to listings', items_path

%table.ind_item
    %tr
        %td.ind_main
            %span= @item.description
        %td.ind_info
            %table
                %tr
                    %td Condition:
                    %td.right= @item.condition
                %tr
                    %td Status:
                    %td.right= @item.status
                %tr
                    %td Location:
                    %td.right= @item.location
    %tr
        %td{ :colspan => "2" }
            %span Tags
            %br
            %div.tags

- if (session[:user] != nil && session[:user]["id"] == @item.user["id"])
    = link_to 'Edit', edit_item_path(@item)

- @comments.each do |comment|
    %p= comment.comment

= form_tag submit_comment_path(@comment), :method => :put do

    = hidden_field :comment, :item_id, :value => @item.id

    = label :comment, :comment, 'Add Comment'
    = text_field :comment, :comment
  
    = submit_tag 'Submit'