!!!
%html
  %head
    %title LendyHop - Neighborhood Lending System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.header
      %h1.title LendyHop
      %h4.login
        - if (session[:user] == nil)
          = link_to 'Login', login_user_path
        - else
          %span #{session[:user]["user_name"]}
          %br
          %span= link_to 'Logout', logout_user_path
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
