!!!
%html
  %head
    %title LendyHop - Neighborhood Lending System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title LendyHop
    
    %h1.login
      - if (session[:user] == nil || session[:user].id < 1)
        'Login'
        // = link_to 'Login', login_user_path
      - else
        'Logout'
        // #{session[:user].user_name}
      
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
